<p *ngIf="lastError$ | async" class="error-message">
    {{ lastError$ | async }}
</p>
<ng-container *ngIf="loggedIn$ | async">
    <h2>Hi {{ name$ | async }}!</h2>
    <p>
        <a routerLink="/reservations">
            Go to Reservations
            <i icon="calendar"></i>
        </a>
    </p>
    <button nbButton type="button" (click)="logout()">Log Out</button>
</ng-container>
<ng-container *ngIf="!(loggedIn$ | async)">
    <button nbButton type="button" (click)="login()">Log In</button>
</ng-container>
