.clickable {
    cursor: pointer;

    &:hover {
        background-color: var(--color-basic-transparent-100);
    }
}

.clickable.selected {
    background-color: var(--color-basic-transparent-200);

    &:hover {
        background-color: var(--color-basic-transparent-300);
    }
}
