.key {
    font-weight: bold;
}

.status-success {
    color: var(--color-success-700);
}

.status-warning {
    color: var(--color-warning-700);
}

.status-danger {
    color: var(--color-danger-700);
}
