@import '../../../themes';

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.right {
        margin-left: auto;
    }
}

nb-layout-header {
    --actions-icon-color: white;
    --text-basic-color: white;

    img {
        height: calc(var(--header-height) * .8);
        margin-right: 1rem;
    }
}

nb-layout-column.no-padding {
    padding: 0 !important;
}

nb-layout-footer {
    --footer-padding: .5rem;
    --footer-text-font-size: .8rem;

    .footer {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
