:host {
    display: block;
    margin-bottom: 1rem;
}

input.ng-dirty {
    font-weight: bold;
}

.date-range {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}

.date-range input {
    flex: 1 auto;
}

.date-range .date-range-center {
    flex: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
}

.text-success {
    color: var(--color-success-default);
}

.text-warning {
    color: var(--color-warning-default);
}

.text-danger {
    color: var(--color-danger-default);
}
