nb-card-header {
    padding: 1rem 0;
}

nb-list-item {
    cursor: pointer;
    grid-gap: 1em;
    justify-content: start;

    span:not(.description) {
        font-weight: normal;
    }

    &:hover {
        color: var(--button-outline-primary-hover-text-color);
    }

    &:focus {
        color: var(--button-outline-primary-focus-text-color);
    }

    &:active {
        color: var(--button-outline-primary-active-text-color);
    }
}

.text-placeholder {
    height: 1em;
    width: 50em;
    display: inline-block;
}
