// this is our just created themes.scss file, make sure the path to the file is correct
@use "themes";

// framework component styles
@use '@nebular/theme/styles/theming';
@use "@nebular/theme/styles/globals";

@use "tag-edit";

// install the framework styles
@include theming.nb-install() {
    @include globals.nb-theme-global;
}

@include tag-edit.nb-tag-edit;

// Fix nebular checkbox sizing
nb-checkbox {
  position: relative;

  > label.label {
    width: 100%;
    flex-grow: 1;

    > span.div {
      flex-grow: 1;
    }
  }
}

[nbButton].appearance-filled {
  box-shadow: var(--elevation-1);
}

/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4 {
    margin: 0;
}

.table th.fit,
.table td.fit {
    width: 1px;
    white-space: nowrap;
}

.table th.fit nb-action,
.table td.fit nb-action {
    padding: 0;
}

.table td.align-middle,
.table th.align-middle {
    vertical-align: middle;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.table tr.clickable-row {
    cursor: pointer;
}

button {
    cursor: pointer;
}

nb-dialog-container nb-card {
    max-height: 100vh;
}

nb-sidebar .scrollable {
    padding: 0 var(--sidebar-padding);
}

.pre {
    white-space: pre-wrap;
}
