@use '@nebular/theme/styles/theming';

@mixin nb-tag-edit {
    .ng2-tag-input {
        background-color: var(--input-basic-background-color);
        border: var(--input-border-width) var(--input-border-style) var(--input-basic-border-color) !important;
        color: var(--input-basic-text-color);
        font-family: var(--input-text-font-family);
        -webkit-appearance: none; // removes inner shadow on iOS

        @include theming.nb-component-animation(border, background-color, color, box-shadow);

        &::placeholder {
            color: var(--input-basic-placeholder-text-color);
            font-family: var(--input-placeholder-text-font-family);
            text-overflow: ellipsis;
        }

        &.ng2-tag-input--focused {
            outline: none;
            border: var(--input-border-width) var(--input-border-style) var(--input-basic-focus-border-color) !important;
            box-shadow: 0 0 0 var(--input-outline-width) var(--input-outline-color);
        }

        &:hover,
        &.ng2-tag-input--focused:hover {
            border-color: var(--input-basic-hover-border-color) !important;
        }

        &:disabled {
            background-color: var(--input-basic-disabled-background-color);
            border-color: var(--input-basic-disabled-border-color);
            color: var(--input-basic-disabled-text-color);

            &::placeholder {
                color: var(--input-basic-disabled-placeholder-text-color);
            }
        }

        border-radius: var(--input-rectangle-border-radius);

        font-size: var(--input-medium-text-font-size);
        font-weight: var(--input-medium-text-font-weight);
        line-height: var(--input-medium-text-line-height);
        padding: 0.1rem 0.3rem 0.1rem 0.3rem !important;

        &::placeholder {
            font-size: var(--input-medium-placeholder-text-font-size);
            font-weight: var(--input-medium-placeholder-text-font-weight);
            line-height: var(--input-medium-placeholder-text-line-height);
        }

        tag {
            border: var(--button-filled-border-width) var(--button-filled-border-style) !important;

            &:focus {
                box-shadow: 0 0 0 var(--button-outline-width) var(--button-outline-color) !important;
                outline: none;
            }

            &[disabled] {
                cursor: var(--button-disabled-cursor);
            }

            border-radius: var(--button-rectangle-border-radius) !important;

            box-shadow: none !important;

            padding: 0 0.45rem !important;
            margin: 0.15rem 0.3rem 0.15rem 0 !important;

            appearance: none;
            text-align: center;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;

            &:focus {
                background: var(--color-basic-focus) !important;
            }

            &:active {
                background: var(--color-basic-active) !important;
            }
        }
    }
}
